.ballrot img{

animation-name: rotate;

animation-duration: 15s;

animation-delay: 0s;

border-radius: 50%;

}

@keyframes rotate {

100% {transform: rotate(360deg);}
}

pay-button{
    height:30px;
    width:200px;
}

.pay-button{
    background-color: #138808; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
}  

.pay-button:hover {
        background-color: #3ecf42; /* Green */
        color: #ffffff;
    }

.pay-button:active {
        transform: translateY(4px);
      }
